.u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/2283411/images/pexels-photo-325185.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 826px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 550px;
  background-image: none;
  --thumb-color: #73a3de;
  --thumb-hover-color: #4c637f;
  --track-color: #c0c0c0;
  --track-active-color: #73a3de;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 30px 481px 60px 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-form-group-3 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-form-group-4 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-form-group-5 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 281px;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    width: 659px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 735px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 42px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 658px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 206px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 452px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(#d9d9d9, #e5e5e5);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-table-1 {
  margin: 45px auto 0;
}

.u-block-5a68-28 {
  text-transform: uppercase;
}

.u-block-5a68-31 {
  border-style: solid;
}

.u-section-2 .u-table-header-1 {
  text-transform: uppercase;
  background-image: none;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-4 {
  border-style: solid;
  text-transform: uppercase;
}

.u-section-2 .u-table-cell-5 {
  border-style: solid;
}

.u-section-2 .u-table-cell-6 {
  border-style: solid;
}

.u-section-2 .u-table-cell-7 {
  border-style: solid;
  text-transform: uppercase;
}

.u-section-2 .u-table-cell-8 {
  border-style: solid;
}

.u-section-2 .u-table-cell-9 {
  border-style: solid;
}

.u-section-2 .u-table-cell-10 {
  border-style: solid;
  text-transform: uppercase;
}

.u-section-2 .u-table-cell-11 {
  border-style: solid;
}

.u-section-2 .u-table-cell-12 {
  border-style: solid;
}

.u-block-5a68-49 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 543px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 373px;
  }

  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-table-cell-4 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-7 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-10 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 832px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 571px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 428px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 269px;
  }
}

.u-section-3 .u-sheet-1 {
  min-height: 739px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 33px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 694px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 610px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 406px;
  height: 494px;
  margin: 134px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 31px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 78px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 584px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 350px;
    height: 426px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 414px;
  }
}